@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
}

.bg-light {
    background-color: transparent !important;
}
.navbar-brand {
    font-family: 'Playfair Display', serif;
    font-size: 2em;
}
.nav-link {
    text-transform: uppercase;
}
.nav-link:hover {
    color: #8bc34a !important;
}
.carousel-caption {
    top: 32%;
}
/*****************
welcome
*****************/
.welcome h2 {
    font-size: 3em;
}
.welcome h2 span {
    color: #8bc34a;
    font-style: italic;
    font-weight: bold;
}
.welcome a {
    color: #8bc34a;
}
.welcome h3 {
    color: #8bc34a;
}





