
:root {
    --blue: #49bfff;
    --white: #fff;
    --gray: #333;
}
* {
    box-sizing: border-box;
}
.py-5 {
    padding: 70px 0 !important;
}
/* nav and slider - header  */
.bg-light {
    background: var(--blue) !important;
}
.navbar-brand {
    color: var(--white) !important;
    font-size: 2em;
}
.navbar-brand:hover {
    color: var(--gray) !important;
    transition: .4s ease;
}
.nav-link {
    color: var(--white) !important;
    text-transform: uppercase;
}
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: var(--gray) !important;
}
.carousel-caption {
    text-align: left;
    top: 30%;
}
.btn-outline-primary {
    color: var(--white);
    border-color: var(--white);
    border-radius: 0;
}
.btn-outline-primary:hover {
    color: var(--blue);
    background: var(--white);
    border-color: var(--white);
}
/* intro */
/*   nema :)   */
/* counter */
.counter i {
    color: var(--blue);
    font-size: 3em;
    margin-bottom: 20px
}
/* plan */


/* plan */

/* enjoy the trip */

/* destinations */

/* contact */

/* footer */





