
:root {
    --blue: #49bfff;
    --white: #fff;
    --gray: #333;
}
* {
    box-sizing: border-box;
}
/* nav and slider - header  */
.bg-light {
    background: var(--blue) !important;
}
.navbar-brand {
    color: var(--white) !important;
    font-size: 2em;
}
.navbar-brand:hover {
    color: var(--gray) !important;
    transition: .4s ease;
}
.nav-link {
    color: var(--white) !important;
}
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: var(--gray) !important;
}
/* intro */

/* counter */

/* plan */


/* plan */

/* enjoy the trip */

/* destinations */

/* contact */

/* footer */





