
:root {
    --blue: #49bfff;
    --white: #fff;
    --gray: #333;
}
* {
    box-sizing: border-box;
}
/* nav and slider - header  */

/* intro */

/* counter */

/* plan */


/* plan */

/* enjoy the trip */

/* destinations */

/* contact */

/* footer */





